*{
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
    font-family: Arial;
}

.cabeçalho {
    display: flex;
    justify-content:space-around;
    background-color: #9A208C;
    margin: 0;
    padding: 2% 5%;
}

.cabeçalho-conteúdo {
    text-align: center;
}

.cabeçalho-imagem {
    width: 17%;
    height: 17%;
}

.cabeçalho-título {
    font-size: 50px;
    text-align: center;
    color:aqua
}

.cabeçalho-lista {
    font-size: 14px;
    color: aqua;
    text-align: left;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    padding: 2% 4%;
}

.cabeçalho-lista-item2 {
    display: inline-block;
}

.Crítica-economia-política {
    background-image: linear-gradient(#9A208C, #E11299);
    color: aqua;
    font-size: 21px;
    margin: 0%;
    padding: 5% 5%;
}


.Crítica-economia-política-título {
    margin: 0%;
    padding: 5% 5%;
}

.Crítica-economia-política-texto {
    margin: 0%;
    padding: 5% 5%;
    text-align:center;
}

.faça-parte {
    background-color: #E11299; 
    text-align: center;
    color: aqua;
}

.faça-parte-imagem {
    width: 120px
}

.membros {
    margin: 0%;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}